[DEFAULT]

#
# From caso
#

# Site name as in GOCDB. (string value)
#site_name = <None>

# Service name within the site (string value)
# Defaults to site_name.
#service_name = $site_name


[prometheus]

#
# From caso
#

# Prometheus server endpoint URL. (string value)
#prometheus_endpoint = http://localhost:9090

# Name of the Prometheus metric to query for energy consumption. (string value)
#prometheus_metric_name = prometheus_value

# Value for the type_instance label in Prometheus queries. (string value)
#prometheus_label_type_instance = scaph_process_power_microwatts

# Frequency between samples in the time series (in seconds). (integer value)
#prometheus_step_seconds = 30

# Query time range (e.g., '1h', '6h', '24h'). (string value)
#prometheus_query_range = 1h

# Whether to verify SSL when connecting to Prometheus. (boolean value)
#prometheus_verify_ssl = true
